* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100vh;
  /* Firefox Fix */
  overflow: auto;
  scrollbar-width: none; }

a:link,
a:visited,
a:active {
  text-decoration: none; }

.semiboldTitle1 {
  font-size: clamp(16px, 4vw, 96px);
  font-weight: 600;
  color: white; }

.semiboldTitle2 {
  font-size: clamp(16px, 4vw, 60px);
  font-weight: 600;
  color: #000000; }

.mediumTitle1 {
  font-size: clamp(16px, 4vw, 96px);
  font-weight: 500;
  color: #000000; }

.mediumTitle2 {
  font-size: clamp(16px, 4vw, 96px);
  font-weight: 500;
  color: white; }

.regularSubtittle1 {
  font-size: clamp(16px, 4vw, 34px);
  font-weight: 400;
  color: #ffeb3b; }

.lightText1 {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 300;
  color: white; }

.regularText1 {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 400;
  color: #000000; }

.mediumItem1 {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 500;
  color: white; }

.btn.rounded-pill.contact {
  border-color: #ffeb3b;
  background-color: #000000; }

.btn.rounded-pill.contact:hover {
  background-color: #ffeb3b; }

.link--contact {
  color: #ffeb3b; }

.link--contact:hover {
  color: #000000; }

.btn.rounded-pill.knowMore {
  background-color: #ffeb3b; }

.btn.rounded-pill.knowMore:hover {
  background-color: #c8b900; }

.link--knowMore {
  color: #000000; }

.link--knowMore:hover {
  color: #000000; }

.card-img-top:hover {
  backface-visibility: #000000; }

.menuContainer {
  display: inline-block;
  position: relative; }

.btn.rounded-pill.contact.hideButton {
  position: absolute;
  top: 60%;
  left: 40%; }

.hideButton {
  display: none;
  transition: all 0.5s; }

.menuContainer:hover > .hideButton {
  display: block;
  transition: all 0.5s; }

.gorseHover:hover {
  color: #ffeb3b; }

header {
  background-color: #000000; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-nav .nav-link.linkActive {
  color: #ffeb3b; }

.navbar-nav .nav-link.linkActive:hover {
  color: #ffeb3b; }

h1 {
  color: white; }

#firstSection {
  background-image: url(../media/images/portada-edit.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  color: white;
  height: 90vh; }

#aboutMe {
  background-color: white;
  height: auto; }

#whatCanIdo {
  background-color: #ffeb3b;
  height: auto; }

.services {
  background-color: #ffff72;
  overflow: hidden; }

#job {
  background-color: #000000;
  max-height: 789px; }

#networks {
  background-color: white;
  height: auto; }

#foo {
  background-color: #ffff72;
  height: auto; }
