* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100vh;
  /* Firefox Fix */
  overflow: auto;
  scrollbar-width: none; }

a:link,
a:visited,
a:active {
  text-decoration: none; }

.semiboldTitle1 {
  font-size: clamp(16px, 4vw, 96px);
  font-weight: 600;
  color: white; }

.regularSubtittle1 {
  font-size: clamp(16px, 4vw, 34px);
  font-weight: 400;
  color: #ffeb3b; }

.lightText1 {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 300;
  color: white; }

.mediumItem1 {
  font-weight: 500;
  color: white;
  font-size: clamp(16px, 4vw, 20px); }

.btn.rounded-pill.contact {
  border-color: #ffeb3b;
  background-color: #000000; }

.btn.rounded-pill.contact:hover {
  background-color: #ffeb3b; }

.link--contact {
  color: #ffeb3b; }

.link--contact:hover {
  color: #000000; }

.btn.rounded-pill.knowMore {
  background-color: #ffeb3b; }

.btn.rounded-pill.knowMore:hover {
  background-color: #c8b900; }

.link--knowMore {
  color: #000000; }

.link--knowMore:hover {
  color: #000000; }

header {
  background-color: #000000; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

.navbar-nav .nav-link.linkActive {
  color: #ffeb3b; }

.navbar-nav .nav-link.linkActive:hover {
  color: #ffeb3b; }

h1 {
  color: white; }

.firstSection {
  background-image: url(../media/images/portada-edit.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  color: white;
  height: 90vh; }

.aboutMe {
  background-color: white; }
