@import "./normalize/reset";
@import "./utilities/colors";
@import "./components/buttons.scss";  

header {
    background-color: $Black;
    
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white
}
.navbar-nav .nav-link.linkActive {
    color: $Gorse;
}

.navbar-nav .nav-link.linkActive:hover {
    color: $Gorse;
}

h1 {
    color: white;
}

.firstSection {
    background-image: url(../media/images/portada-edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $Black;
    color: white;
    height: 540pt;
}
.test {
    padding-left: 0;
}
.pos {
  position: absolute; 
  top: 45%;
  left: 29%;
}

.firstSection--tittle {
    color: $Gorse;
}

.aboutMe {
    background-color: white;
}