@import "./normalize/reset";
@import "./utilities/colors";
@import "./utilities/fonts";
@import "./components/titles.scss";
@import "./components/buttons.scss";

header {
    background-color: $black;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-nav .nav-link.linkActive {
    color: $gorse;
}

.navbar-nav .nav-link.linkActive:hover {
    color: $gorse;
}

h1 {
    color: white;
}

#firstSection {
    background-image: url(../media/images/portada-edit.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $black;
    color: white;
    height: 90vh;
}

#aboutMe {
    background-color: white;
    height: auto;
}

#whatCanIdo {
    background-color: $gorse;
    height: auto;
}

.services {
    background-color: $parisDaisy;
    overflow: hidden;
}