$poppins-light: 300;

$poppins-regular: 400;

$poppins-medium: 500;

$poppins-semibold: 600;

@function reSizeFont($maxSize, $minSize:16px) {
    @return clamp($minSize, 4vw, $maxSize);
}

@mixin set-font($fontWeight, $fontColor:white) {
    font-weight: $fontWeight;
    color: $fontColor;
}
