.poppins-light {
    font-weight: 300;
    font-size: 10pt;
}

.poppins-medium {
    font-weight: 500;
    font-size: 15px;
}

.poppins-regular {
    font-weight: 400;
    font-size: 20pt;
}

.poppins-semibold {
    font-weight: 600;
    font-size: 7.239819004524887vw;
}


