@import "../utilities/colors";

.btn.rounded-pill.contact {
    border-color: $gorse;
    background-color: $black;
}

.btn.rounded-pill.contact:hover {
    background-color: $gorse;
}

.link--contact {
    color: $gorse;
}

.link--contact:hover {
    color: $black;
}

.btn.rounded-pill.knowMore {
    background-color: $gorse;
}

.btn.rounded-pill.knowMore:hover {
    background-color: $buddhaGold;
}

.link--knowMore {
    color: $black;
}

.link--knowMore:hover {
    color: $black;
}

.menuContainer {
    display: inline-block;
    position: relative;
}

.btn.rounded-pill.contact.hideButton {
    position: absolute;
    top: 60%;
    left: 40%;
}

.hideButton {
    display: none;
}

.menuContainer:hover > .hideButton {
    display: block;
}
.menuContainer:hover > img {
    filter: brightness(70%);
}

.gorseHover:hover {
    color: $gorse
}

.menuContainer:hover > .appearingText {
    color: white;
    transform: translateY(-40px);
    transition: all 0.5s;      
}

.appearingText {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
}
