@import "../utilities/colors";

.btn.rounded-pill.contact {
    border-color: $gorse;
    background-color: $black;
}

.btn.rounded-pill.contact:hover {
    background-color: $gorse;
}

.link--contact {
    color: $gorse;
}

.link--contact:hover {
    color: $black;
}

.btn.rounded-pill.knowMore {
    background-color: $gorse;
}

.btn.rounded-pill.knowMore:hover {
    background-color: $buddhaGold;
}

.link--knowMore {
    color: $black;
}

.link--knowMore:hover {
    color: $black;
}

.card-img-top:hover {
    backface-visibility: $black;
}

.menuContainer {
    display: inline-block;
    position: relative;
}

.btn.rounded-pill.contact.hideButton {
    position: absolute;
    top: 60%;
    left: 40%;
}

.hideButton {
    display: none;
    transition: all 0.5s;
}

.menuContainer:hover > .hideButton {
    display: block;
    transition: all 0.5s;
}

.gorseHover:hover {
    color: $gorse
}