@import "../utilities/fonts";
@import "../utilities/colors";

.semiboldTitle1 {
    font-size: reSizeFont(96px);
    @include set-font($poppins-semibold);
}

.mediumTitle1 {
    font-size: reSizeFont(96px);
    @include set-font($poppins-medium, $black);
}

.regularSubtittle1 {
    font-size: reSizeFont(34px);
    @include set-font($poppins-regular, $gorse);
}

.lightText1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-light);
}

.regularText1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-regular, $black);
}

.mediumItem1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-medium);
}
