@import "../utilities/fonts";
@import "../utilities/colors";

.semiboldTitle1 {
    font-size: reSizeFont(96px);
    @include set-font($poppins-semibold);
}

.semiboldTitle2 {
    font-size: reSizeFont(60px);
    @include set-font($poppins-semibold, $black);
}

.mediumTitle1 {
    font-size: reSizeFont(96px);
    @include set-font($poppins-medium, $black);
}

.mediumTitle2 {
    font-size: reSizeFont(96px);
    @include set-font($poppins-medium);
}

.regularSubtittle1 {
    font-size: reSizeFont(34px);
    @include set-font($poppins-regular, $gorse);
}

.lightText1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-light);
}

.regularText1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-regular, $black);
}

.regulatText-24 {
    font-size: reSizeFont(24px);
    @include set-font($poppins-regular, $black);
}
.mediumItem1 {
    font-size: reSizeFont(20px);
    @include set-font($poppins-medium);
}

.mediumItemBlack {
    font-size: reSizeFont(20px);
    @include set-font($poppins-medium, $black);
}